# Exclude development-related configurations
.vscode/

# Exclude TypeScript source files
src/**

# Exclude build artifacts except for the bundled extension
out/**
!dist/extension.js

# Include only the webview build directory
webview-ui/**
!webview-ui/build/**

# Exclude other unnecessary files
CHANGELOG.md
tsconfig.json
vsc-extension-quickstart.md
*.map
*.lock
node_modules/
.gitignore